.board {
	padding: var(--board-padding);
	border: var(--board-border) solid var(--cell-bg);
	background: var(--board-bg);
	display: grid;
	grid-template-columns: repeat(10, var(--cell-size));
	grid-template-rows: repeat(10, var(--cell-size));
	gap: var(--grid-gap);
	width: fit-content;
	border-radius: 1rem;

	.cell {
		position: relative;
		border: none;
		outline: none;
		padding: 0;
		background: url(../../images/empty_cell.svg);
		display: flex;
		align-items: center;
		justify-content: center;
		> * {
			position: absolute;
		}
	}

	.ship-image {
		top: 2px;
		left: 2px;
		max-width: 9999px;
		z-index: 100;
		pointer-events: none;
		user-select: none;
	}

	.ship-image.facing-north {
		transform: translate(-50%) rotate(-90deg) translate(-50%);
		top: -12px;
		left: 16px;
	}

	.ship-image.facing-south {
		transform: translate(-50%) rotate(-90deg) translate(50%);
		top: 16px;
		left: 16px;
	}
	
	.ship-image.facing-east {
		transform: translate(-100%);
		left: 30px;
	}

	.mark {
		z-index: 200;
		pointer-events: none;
		user-select: none;
	}

}

.no-ships.board {
	.cell:hover { 
		opacity: 0.75;
		cursor: pointer;
	}

	.ship-image {
		display: none;
	}
}

.board-section:has(.placing.board) {
	flex: 1;
}

.placing.board {
	.cell:hover {
		cursor: pointer;
	}
}

.active.board {
	pointer-events: none;
	user-select: none;
}