:root {
	--cell-size: 32px;
	--grid-gap: 4px;

	--app-bg: hsl(0deg 0% 10%);
	--board-bg: hsl(0deg 0% 15%);
	--cell-bg: hsl(0deg 0% 30%);
}

body {
	background: var(--app-bg);
	width: 100vw;
	height: 100vh;
	font-size: 16px;
	display: flex;
	padding: 0 20vw;
	align-items: center;
	justify-content: space-between;
}